.content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: -10;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.6);
    transition: opacity .1s linear;
}

.content.active {
    z-index: 25;
    opacity: 1;
}
