.wrapper {
    margin: 25px auto 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 40vw;
}

.controlFontSize {
    display: flex;
}

.controlFontSize input {
    margin-right: 10px;
}
