.button {
    padding: 10px 15px;

    text-align: center;
    color: #fff;
    font-weight: bold;

    border-radius: 10px;
    background: #50abf0;
    box-shadow: none;
    opacity: 1;

    transition: opacity .3s ease-out, box-shadow .3s ease-in-out;
}

.button:hover {
    opacity: .7;
}

.button:active {
    box-shadow: inset 3px 3px 2px 3px rgba(0, 0, 0, .6);
}
