.wrapper {
    padding: 100px 0 150px;
    margin: 0 auto;
    width: 100%;
    max-width: 50vw;
    font-family: Aleo;
}

.withBackground {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
}
